<div class="container-fluid management-tab">
  <ngx-loading [show]="loading"
    [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:true,backdropBackgroundColour:'rgba(255,255,255, 0.01)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
  </ngx-loading>
  <div class="row section-box">
    <div class="col-12">
      {{ type | titlecase }} customer
      <div>
      </div>

      <div class="row">
        <div class="col-12">
          <form #f="ngForm" novalidate autocomplete="off">
            <div class="row">

              <div class="col-12 col-xl-3 col-md-4">
                <div class="form-group">
                  <label for="customername">Name <span class="c-red">*</span></label>
                  <input type="text" class="form-control" id="name" placeholder="Enter Your Name" name="name"
                    #name="ngModel" [(ngModel)]="customer.name" required
                    [class.is-invalid]="f.submitted && name.invalid">
                  <div class="alert alert-danger" *ngIf="(name.touched || f.submitted) && name.invalid">
                    <p>Name can't be blank.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-3 col-md-4">
                <div class="form-group">
                  <label>Address <span class="c-red">*</span></label>
                  <input type="text" class="form-control" id="address" placeholder="Enter Residential Address" name="address"
                    #address="ngModel" [(ngModel)]="customer.address" required
                    [class.is-invalid]="f.submitted && address.invalid">
                  <div class="alert alert-danger" *ngIf="(address.touched || f.submitted) && address.invalid">
                    <p>Residential Address can't be blank.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-3 col-md-4">
                <div class="form-group">
                  <label>Office Address <span class="c-red">*</span></label>
                  <input type="text" class="form-control" id="office_address" placeholder="Enter Residential Address" name="office_address"
                    #office_address="ngModel" [(ngModel)]="customer.office_address" required
                    [class.is-invalid]="f.submitted && office_address.invalid">
                  <div class="alert alert-danger" *ngIf="(office_address.touched || f.submitted) && office_address.invalid">
                    <p>Office Address can't be blank.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-3 col-md-4">
                <div class="form-group">
                  <label for="birthdate">Birth date <span class="c-red">*</span></label>
                  <p-calendar id="birthdate" name="birthdate" [monthNavigator]="true"  [yearNavigator]="true" yearRange="1900:2025" #birthdate="ngModel" placeholder="Select Birthdate" [(ngModel)]="customer.birthdate" dateFormat="dd/mm/yy" [maxDate]="maxDate" inputId="min-max"></p-calendar>
                  <div class="alert alert-danger" *ngIf="(birthdate.touched || f.submitted) && birthdate.invalid">
                    <p>Birthdate can't be blank.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-3 col-md-4">
                <div class="form-group">
                  <label for="loginMobile">Mobile No. <span class="text-danger">*</span></label>
                  <input type="tel" class="form-control" id="mobile_no" name="mobile_no" placeholder="Enter Mobile Number" [(ngModel)]="customer.mobile_no" #mobile_no="ngModel" maxlength="10" minlength="9" pattern="^((\\+91-?)|0)?[0-9]{10}$" required />
                  <div class="alert alert-danger" *ngIf="mobile_no.touched && mobile_no.invalid">
                      <p *ngIf="mobile_no.errors && mobile_no.errors?.required">Phone can't be blank.</p>
                      <p *ngIf="mobile_no.errors && mobile_no.errors?.pattern">Please Check the phone number again.</p>
                  </div>
              </div>
              </div>
              <div class="col-12 col-xl-3 col-md-4">
                <div class="form-group">
                  <label class="userEmail">Email ID <span class="c-red">*</span></label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" [(ngModel)]="customer.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                  <div class="alert alert-danger" *ngIf="(email.touched && email.invalid)">
                      <p *ngIf="(email.errors && email.errors?.required)">Email can't be blank.</p>
                      <p *ngIf="(email.errors && email.errors?.pattern)">Please Check the Email again.</p>
                  </div>
              </div>
              </div>
              <div class="col-12 col-xl-3 col-md-4">
                <div class="form-group">
                  <label for="collectiontext">Education </label>
                  <input type="text" class="form-control" id="education" placeholder="Enter Education" name="education"
                    #education="ngModel" [(ngModel)]="customer.education">
                  <!-- <div class="alert alert-danger" *ngIf="(education.touched || f.submitted) && education.invalid">
                    <p>Education can't be blank.</p>
                  </div> -->
                </div>
              </div>
              <div class="col-12 col-xl-3 col-md-4">
                <div class="form-group">
                  <label for="collectiontext">Experience <span class="c-red">*</span></label>
                  <input type="text" class="form-control" id="experience" placeholder="Enter Experience" name="experience"
                    #experience="ngModel" [(ngModel)]="customer.experience" required
                    [class.is-invalid]="f.submitted && experience.invalid">
                  <div class="alert alert-danger" *ngIf="(experience.touched || f.submitted) && experience.invalid">
                    <p>Experience can't be blank.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-3 col-md-4">
                <div class="form-group">
                  <label for="maritalstatus">Select Marital Status <span class="c-red">*</span></label>
                  <p-dropdown name="marital_status" #marital_status="ngModel" [options]="marital_status_option" placeholder="Select Marital Status" [(ngModel)]="customer.marital_status" optionLable="marital_status_option">
                </p-dropdown>
                </div>
              </div>
              <div class="col-12 col-xl-3 col-md-4">
                <div class="form-group">
                  <label for="spousename">Spouse Name </label>
                  <input type="text" class="form-control" id="spouse_name" placeholder="Enter Spouse Name" name="spouse_name"
                    #spouse_name="ngModel" [(ngModel)]="customer.spouse_name">
                    <div class="alert alert-danger" *ngIf="(spouse_name.touched || f.submitted) && spouse_name.invalid">
                      <p>Spouse Name can't be blank.</p>
                    </div>
                </div>
              </div>
              <div class="col-12 col-xl-3 col-md-4">
                <div class="form-group">
                  <label for="mothername">Mother Name <span class="c-red">*</span></label>
                  <input type="text" class="form-control" id="mother_name" placeholder="Enter Mother Name" name="mother_name"
                    #mother_name="ngModel" [(ngModel)]="customer.mother_name" required
                    [class.is-invalid]="f.submitted && mother_name.invalid">
                  <div class="alert alert-danger" *ngIf="(mother_name.touched || f.submitted) && mother_name.invalid">
                    <p>Mother Name can't be blank.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-xl-6 col-md-4">
                <div class="form-group">
                  <label for="mothername">Notes </label>
                  <textarea class="form-control" id="notes" placeholder="Note Here" name="notes"
                  #notes="ngModel" [(ngModel)]="customer.notes"></textarea>
                </div>
              </div>

              <div class="col-12 ">
                <div class="form-group">
                  <div>
                    <label>Photo</label>
                  </div>

                  <div class="uploaded-file-block" *ngIf="customer.customerImageUrlExisting">
                    <a href="{{customer.customerImageUrlExisting}}" target="_blank">Click To View</a>
                  </div>
                  <input #customerImageFile type="file" (change)="onCLUpload($event)" accept="image/*" />
                </div>
              </div>

              <div class="col-12 ">
                <div class="form-group">
                  <div>
                    <label>Pancard</label>
                  </div>
                  <div class="uploaded-file-block" *ngIf="customer.pancardImageUrlExisting">
                    <a href="{{customer.pancardImageUrlExisting}}" target="_blank">Click To View</a>
                  </div>
                  <input #pancardImageFile type="file" (change)="onPanCLUpload($event)" accept="image/*" />
                </div>
              </div>

              <div class="col-12 ">
                <div class="form-group">
                  <div>
                    <label>Aadharcard</label>
                  </div>
                  <div class="uploaded-file-block" *ngIf="customer.aadharImageUrlExisting">
                    <a href="{{customer.aadharImageUrlExisting}}" target="_blank">Click To View</a>
                  </div>
                  <input #aadharcardImageFile type="file" (change)="onAadharCLUpload($event)" accept="image/*" />

                </div>
              </div>

              <div class="col-12 ">
                <div class="form-group">
                  <div>
                    <label>Residential Latest Bill</label>
                  </div>
                  <div class="uploaded-file-block" *ngIf="customer.residentialImageUrlExisting">
                    <a href="{{customer.residentialImageUrlExisting}}" target="_blank">Click To View</a>
                  </div>
                  <input #residentialLatestBillImageFile type="file" (change)="onResidentialBillCLUpload($event)" accept="image/*" />
                </div>
              </div>

              <div class="col-12 ">
                <div class="form-group">
                  <div>
                    <label>Property Tax Receipt</label>
                 </div>
                  <div class="uploaded-file-block" *ngIf="customer.propertyTaxtReceptImageUrlExisting">
                    <a href="{{customer.propertyTaxtReceptImageUrlExisting}}" target="_blank">Click To View</a>
                  </div>
                  <input #propertyTaxReceiptImageFile type="file" (change)="onPropertyTaxCLUpload($event)" accept="image/*" />
                </div>
              </div>

            </div>
            <div class="row mt-4 mb-4">
              <div class="col-12">

                <button *ngIf="product.id" [disabled]="f.invalid || !customer.name || disableButton" type="submit"
                  class="btn green-btn" (click)="onClickSave()">Update Customer</button>
                <button type="button" class="btn gray-btn ml-4" (click)="onClickCancel()">Cancel</button>
              </div>
            </div>
          </form>
          <div>
          </div>




          <app-footer></app-footer>
        </div>
        <!-- End of Footer -->
